<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>
    <header>
        <nav id="nav-bar">
            <a href="/" class="nav-link">Home</a>
            <a href="/dashboard" class="nav-link">Dashboard</a>
            {{#unless isLoggedIn}}
            <a href="/login" class="nav-link">Login</a>
            {{/unless}}
            {{#if isLoggedIn}}
            <a href="/" class="nav-link" id="logout-button">Logout</a>
            {{/if}}
        </nav>
        <h1>The Tech Blog</h1>
    </header>
    <main>
        {{{body}}}
    </main>
    <script src="/js/main.js"></script>
</body>

</html>