<body id="single-post-page">
    <section class="post-container">
        <div class="post">
            <div class="post-header">
                <h3 class="post-title"></h3>
                <p class="post-info"></p>
            </div>
            <p class="post-content"></p>
        </div>
    </section> 
    <div class="spacer"></div>   
    <section class="comment-container">
        
    </section>
    <section class="add-comment-section">
        <form id="add-comment-form">
            <input type="text" id="comment-input">
            <br>
            <button id="submit-comment">Submit</button>
        </form>
        <button id="add-comment-button">Add Comment</button>
    </section>
    <script src="/js/singlePost.js"></script>
</body>