<form id="add-post-form" style="display: block;">
    <div class="post-header">
        <h3 class="post-title">Edit Post</h3>
    </div>
    <div class="form-content">
        <label>Title</label>
        <input type="text" class="add-post-input" id="post-title-input">
        <label>Content</label>
        <input type="text" class="add-post-input" id="post-content-input">
        <button id="edit-post-button" class="edit-delete" type="button">Update</button>
        <button id="delete-post-button" class="edit-delete" type="button">Delete</button>
    </div>
</form>
<script src="/js/singleUserPost.js"></script>